<head>
<META http-equiv="content-type" content="text/html;charset=iso-8859-1">
<title>Bookmark file</title>
</head>
     You can delete links using the remove bookmark command.  It is usually
     the 'R' key but may have been remapped by you or your system
     administrator.<br>
     This file also may be edited with a standard text editor to delete
     outdated or invalid links, or to change their order.

<!--
Note: if you edit this file manually
      you should not change the format within the lines
      or add other HTML markup.
      Make sure any bookmark link is saved as a single line.
-->

<p>
<ol>
<LI><a href="https://lite.duckduckgo.com/lite/">DuckDuckGo</a>
<LI><a href="http://68k.news/">68k.news</a>
<LI><a href="http://frogfind.com/">FrogFind!</a>
<LI><a href="http://wiby.me/">Wiby</a>
